extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Change Me';
    var myDescription = 'Change Me';
    var landingPage = 'Nodejs';
    var activeLink = '/nodejs/npm'; 
block awesome-content
  h1=myTitle 
  p=myDescription
  h2 Node.js NPM
  
