extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code HTML for beginners';
    var myDescription = 'HTML is easy and fun to learn!';
    var landingPage = 'HTML';
    var activeLink='';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 HTML Elements
  p An HTML element usually consists of a start tag and end tag. #[a(href="/html") Check it out!]
  h2 HTML Attributes
  p Attributes provide additional information about  HTML elements #[a(href="/css") See awesomeness happening!]
  h2 HTML Headings
  p Headings are important in HTML documents. #[a(href="/javascript") Discover the way up!]