
h1 HTML Examples
p At the end of the HTML tutorial, you can find more than 200 examples.
h2 HTML References
p At W3Schools you will find complete references about tags, attributes, events, color names, entities, character-sets, URL encoding, language codes, HTTP messages, and more.
p #[a(href="/") Back to first page!]
