extends ../_component/layout/template

block cool-config
  -    
    var myTitle = 'Node.js';
    var myDescription = 'This is Node.js';
    var landingPage = 'Nodejs';
    var activeLink='';

block awesome-content
  h2 Node.js
