
h1 JavaScript Tutorial
p JavaScript is the programming language of HTML and the Web.

p JavaScript is easy to learn.

p This tutorial will teach you JavaScript from basic to advanced.
p #[a(href="/") Back to first page!]