h1 Colors Tutorial
p Colors are displayed combining RED, GREEN, and BLUE light.
h2 CSS Color Values
p With CSS, colors can be specified in different ways:

p By color names
p As RGB values
p As hexadecimal values
p As HSL values (CSS3)
p As HWB values (CSS4)
p #[a(href="/") Back to first page!]