h1 Icons Tutorial
h2 How To Add Icons
p To insert an icon, add the name of the icon class to any inline HTML element.

p The <i> and <span> elements are widely used to add icons.

p All the icons in the icon libraries below, are scalable vector icons that can be customized with CSS (size, color, shadow, etc.)

h2 Font Awesome 5 Icons
p To use the Free Font Awesome 5 icons, add the following line inside the <head> section of your HTML page:

p Note: No downloading or installation is required!
p #[a(href="/") Back to first page!]