doctype html
html
  head
    title Learn to code HTML, CSS and JavaScript
    meta(name="description", content="This is a HTML replica of W3schools.com")
    link(rel="stylesheet", href="style.css" )
  body
    header
      a.current(href="/") Home
      a(href="/html.html") HTML
      a(href="/css.html") CSS
      a(href="/javascript.html") JavaScript

  
    article
      h1 This is a replica of w3schools.com
      p I'll go through all possible HTML elements as well as CSS to gain knowledge quicer and get used to writing and producing styled HTML pages. 
      h2 HTML 
      p The language for building web pages. #[a(href="/html.html") Check it out!]
      h2 CSS
      p The language for styling web pages #[a(href="/css.html") See awesomeness happening!]
      h2 JavaScript
      p The language for programming web pages #[a(href="/javascript.html") Discover the way up!]

    nav
      h3 HTML and CSS
      a(href="/html.html") Learn HTML
      a(href="/css.html") Learn CSS
      a(href="/w3.html") Learn W3.CSS
      a(href="/colors.html") Learn Colors
      a(href="/bootstrap3.html") Learn Bootstrap 3
      a(href="/bootstrap4.html") Learn Bootstrap 4
      a(href="/icons.html") Learn Icons
      a(href="/graphics.html") Learn Graphics
      a(href="/javascript.html") Learn JavaScript
      a(href="/nodejs.html") Learn Node.js

    footer &copy; 2019 by Catalina TEGUIANI
