h1 W3.CSS

h2 Modern Responsive CSS
p Equality for all browsers: Chrome. Firefox Edge. IE. Safari. Opera.

p Equality for all devices: Desktop. Laptop. Tablet. Mobile.

p Standard CSS only (No jQuery or JavaScript library).
h2 W3.CSS is a CSS Framework
p W3.CSS is a modern CSS framework with built-in responsiveness. It supports responsive mobile first design by default, and it is smaller and faster than similar CSS frameworks.

p W3.CSS can also speed up and simplify web development because it is easier to learn.
p #[a(href="/") Back to first page!]